<!DOCTYPE html>
<html ng-app="evalquiz">

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eval(Quiz)</title>

    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="css/material.css" rel="stylesheet">-->
    <link href="dist/angular-material.min.css" rel="stylesheet">
    <link href="dist/font-awesome.min.css" rel="stylesheet">
    <link href="dist/codemirror.css" rel="stylesheet">
    <link href="dist/lint.css" rel="stylesheet">
    <link href="dist/elegant.css" rel="stylesheet">
    <link href="css/evalquiz.css" rel="stylesheet">
</head>

<body ng-controller="EvalQuizController as quiz" layout="column">
    <md-toolbar class="md-default-theme">
        <div class="md-toolbar-tools" layout="row">
            <div class="md-toolbar-item"><span>eval(Quiz)</span></div>

            <div class="md-toolbar-item">
                <md-button ng-click="quiz.showRiddles($event)">Riddles</md-button>
            </div>

            <div flex=""></div>
            <div class="md-toolbar-item">
                <md-button ng-click="quiz.showCredits($event)">Credits</md-button>
            </div>
        </div>
    </md-toolbar>

    <ng-view layout="row" flex=""></ng-view>

    <script type="text/javascript" src="dist/hammer.min.js"></script>
    <script type="text/javascript" src="dist/angular.js"></script>
    <script type="text/javascript" src="dist/angular-route.min.js"></script>
    <script type="text/javascript" src="dist/angular-animate.min.js"></script>
    <script type="text/javascript" src="dist/angular-aria.min.js"></script>
    <script type="text/javascript" src="dist/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="dist/angular-material.min.js"></script>
    <script type="text/javascript" src="dist/showdown.min.js"></script>
    <script type="text/javascript" src="dist/markdown.js"></script>
    <script type="text/javascript" src="dist/codemirror.js"></script>
    <script type="text/javascript" src="dist/javascript.js"></script>
    <script type="text/javascript" src="dist/jshint.js"></script>
    <script type="text/javascript" src="dist/lint.js"></script>
    <script type="text/javascript" src="dist/javascript-lint.js"></script>
    <script type="text/javascript" src="dist/ui-codemirror.js"></script>
    <script type="text/javascript" src="dist/angular-cookies.min.js"></script>
    <script type="text/javascript" src="dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="dist/esprima.js"></script>
    <script type="text/javascript" src="dist/evalquiz.js"></script>
</body>

</html>