<md-dialog aria-label="List of Riddles">
    <md-toolbar>
        <div class="md-toolbar-tools">List of Riddles</div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <riddle-list></riddle-list>

        <div layout-padding>
            <p class="align-right">
                Want more riddles?
                <a href="https://github.com/furti/evalquiz" target="_blank">Fork me on GitHub</a>!
            </p>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="$ctrl.clear()">Clear</md-button>
        <span flex="" class="flex"></span>
        <md-button class="md-primary md-raised" ng-click="$ctrl.close()">Close</md-button>
    </md-dialog-actions>
</md-dialog>