<md-toolbar class="md-default-theme md-whiteframe-1dp">
    <div class="md-toolbar-tools" layout="row">
        <div class="md-toolbar-item">
            <h1>eval(Quiz)</h1>
        </div>

        <div flex></div>

        <div class="md-toolbar-item">
            <md-button ng-click="$ctrl.showCreditsDialog($event)">Credits</md-button>
        </div>

        <div class="md-toolbar-item">
            <md-button ng-click="$ctrl.showRiddleListDialog($event)" class="md-raised" ng-disabled="!$ctrl.riddles || $ctrl.running">
                <i class="fa fa-bars separated" aria-hidden="true"></i>
                List of Riddles
            </md-button>
        </div>

        <div class="md-toolbar-item">
            <md-button ng-click="$ctrl.gotoRiddle($ctrl.nextRiddleId)" class="md-raised md-accent" ng-disabled="!$ctrl.nextAvailable || $ctrl.running">
                Next Riddle
                <i class="fa fa-arrow-right separated" aria-hidden="true"></i>
            </md-button>
        </div>
    </div>
</md-toolbar>