<md-toolbar class="md-default-theme">
    <div class="md-toolbar-tools" layout="row">
        <div class="md-toolbar-item"><h1>eval(Quiz)</h1></div>

        <div flex=""></div>

        <div class="md-toolbar-item">
            <md-button ng-click="$ctrl.showCreditsDialog($event)">Credits</md-button>
        </div>

        <div class="md-toolbar-item">
            <md-button ng-click="$ctrl.showRiddleListDialog($event)" class="md-raised" ng-disabled="!$ctrl.riddleManager.initialized">Riddles</md-button>
        </div>
    </div>
</md-toolbar>