<md-content class="text" flex="50" layout="column" class="layout-stretch">
    <md-card flex class="riddle-left-card">
        <md-card-title>
            <md-card-title-text>
                <div class="md-headline">
                    <i class="fa" ng-class="{'fa-square-o': !$ctrl.solved, 'fa-check-square-o': $ctrl.solved}"></i>&nbsp;
                    <span class="lighter">Level {{$ctrl.riddle.level}}:</span>&nbsp;<span>{{$ctrl.riddle.title}}</span>&nbsp;
                    <i class="fa" ng-class="{'fa-star-o lightest': $ctrl.riddle.state.score <= 0, 'fa-star': $ctrl.riddle.state.score > 0}"></i>
                    <i class="fa" ng-class="{'fa-star-o lightest': $ctrl.riddle.state.score <= 1, 'fa-star': $ctrl.riddle.state.score > 1}"></i>
                    <i class="fa" ng-class="{'fa-star-o lightest': $ctrl.riddle.state.score <= 2, 'fa-star': $ctrl.riddle.state.score > 2}"></i>
                </div>
                <div class="md-subhead">
                    {{$ctrl.riddle.shortDescription}}
                </div>
            </md-card-title-text>
        </md-card-title>

        <md-tabs flex md-selected="$ctrl.selectedTab" class="lined-top">
            <md-tab label="Info" class="info-tab">
                <div flex layout="column" class="lined-top">
                    <div flex class="scrolls md-padding">
                        <div btf-markdown="$ctrl.riddle.detail.description"></div>
                    </div>

                    <div class="md-headline md-padding layout-no-resize lined-top">
                        <i class="fa fa-bullseye"></i>&nbsp;Goals
                    </div>

                    <div class="md-padding layout-no-resize">
                        <table>
                            <tbody>
                                <tr ng-repeat="goal in $ctrl.riddle.detail.goals track by $index" ng-if="$index <= $ctrl.riddle.state.score">
                                    <td>
                                        <i class="fa" ng-class="{'fa-square-o': $ctrl.riddle.state.score <= $index, 'fa-check-square-o': $ctrl.riddle.state.score > $index}"></i>
                                    </td>
                                    <td style="min-width: 5em; text-align: center;">
                                        <i class="fa fa-star"></i>
                                        <i class="fa" ng-class="{'fa-star-o lightest': $index <= 0, 'fa-star': $index > 0}"></i>
                                        <i class="fa" ng-class="{'fa-star-o lightest': $index <= 1, 'fa-star': $index > 1}"></i>
                                    </td>
                                    <td>
                                        {{goal}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p ng-if="$ctrl.riddle.minScoreToSolve == 2">
                            You need at least two stars (<i class="fa fa-star"></i>&nbsp;<i class="fa fa-star"></i>&nbsp;<i class="fa fa-star-o lightest"></i>) in order to solve the riddle.
                        </p>

                        <p ng-if="$ctrl.riddle.minScoreToSolve == 3">
                            You need all three stars (<i class="fa fa-star">&nbsp;</i><i class="fa fa-star"></i>&nbsp;<i class="fa fa-star"></i>) in order to solve the riddle.
                        </p>
                    </div>
                </div>
            </md-tab>

            <md-tab label="Console">
                <div flex layout="column" class="no-scroll">
                    <div flex id="console" class="console">
                    </div>
                </div>
            </md-tab>

            <md-tab label="Hints" class="hints-tab" ng-if="$ctrl.riddle.detail.hints">
                <div flex layout="column" class="lined-top">
                    <div flex class="scrolls md-padding">
                        <div btf-markdown="$ctrl.riddle.detail.hints"></div>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </md-card>
</md-content>

<md-content flex="50" layout="column">
    <md-card flex class="riddle-right-card no-scrolls">
        <md-card-title class="layout-no-resize">
            <md-card-title-text>
                <div class="md-headline">
                    <i class="fa fa-code"></i>&nbsp;Function
                    <code>{{$ctrl.riddle.detail.member.signature}}</code>
                </div>

                <div class="md-subhead markdown" btf-markdown="$ctrl.riddle.detail.member.description"></div>
            </md-card-title-text>
        </md-card-title>

        <md-card-content class="members lined-top layout-no-resize">
            <div btf-markdown="$ctrl.riddle.detail.member.explanation"></div>
            <member-info member="$ctrl.riddle.detail.member"></member-info>
        </md-card-content>

        <md-card-content flex layout="column" class="editor lined-top lined-bottom">
            <textarea ng-model="$ctrl.riddle.state.code" ui-codemirror="$ctrl.editorOptions"></textarea>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="$ctrl.save()">Save</md-button>
            <md-button class="code-load-button" ng-click="$ctrl.load()" ng-disabled="!$ctrl.hasSaves">Load</md-button>
            <md-button ng-click="$ctrl.trash()">Trash</md-button>

            <span flex="" class="flex"></span>

            <md-button class="md-primary md-raised" ng-click="$ctrl.solve($event)">
                <i class="fa fa-play-circle separated" aria-hidden="true"></i> Solve
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>