<div layout="row" layout-padding>
    <b flex="25">Parameter</b>
    <b flex="15">Type</b>
    <b flex="60">Description</b>
</div>

<div ng-repeat="attribute in $ctrl.attributes" layout="row" layout-padding>
    <span flex="25">{{attribute.name}}</span>

    <div flex="15"><code>{{attribute.type}}</code></div>

    <span flex="60" ng-if="attribute.type !== 'object' && attribute.type !== 'array'">{{attribute.description}}</span>
    <span flex="60" ng-if="attribute.type === 'object' || attribute.type === 'array'">
        <div ng-repeat="subattribute in attribute.attributes">
            <code>{{subattribute.name}} { {{subattribute.type}} }</code> {{subattribute.description}}
        </div>
    </span>
</div>