.loader {
    width: 240px;
    margin: 3em auto 0;
    text-align: center;
}

.editor {
    padding: 0;
    overflow: hidden;
    align-items: stretch;
}

.editor > .CodeMirror {
    flex: 1 1 auto;
}

.scrolls {
    overflow: auto;
}

.no-scrolls {
    overflow: hidden;
}

.markdown > :first-child  {
    margin-top: 0;
}

.markdown > :last-child  {
    margin-bottom: 0;
}

.lined-top {
    border-top: 1px solid rgba(0,0,0,0.12);
}

.lined-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.max-width-480 {
    max-width: 480px;
}

.layout-no-shrink {
    flex-shrink: 0;
}

.layout-no-grow {
    flex-grow: 0;
}
 
.layout-no-resize {
    flex-shrink: 0;
    flex-grow: 0;
}

.layout-stretch {
    align-items: stretch;
}

.no-wrap {
    white-space: nowrap;
}

.member-info {
    padding: 0 0 0 16px;
    margin: 16px 0;
}

/**
 * Level
 */
.riddle-card {
    cursor: pointer;
    padding: 0;
    display: block;
    min-width: 480px;
}

.riddle-title {
    padding-right: 10px;
}

/**
 * Toolbar
 */
.md-toolbar-item {
    margin-right: 10px;
}

.md-toolbar-item .md-button {
    padding-left: 15px;
    padding-right: 15px;
}

/**
 * Transitions
 */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

/**
 * Code
 */
code {
    background: #F6F6F6;
    padding: 2px 5px;
    color: #4285F4;
}

.md-dialog-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px 10px;
}

.md-dialog-actions .md-button {
    margin-left: 10px;
}

ng-view {
    overflow: hidden;
}

table td {
    padding: 8px 12px;
}

.align-right {
    text-align: right;
}

.light {
    opacity: 0.25;
}

.glow {
    text-shadow: 0px 0px 16px goldenRod;   
}