@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* View */

ng-view {
    height: 100vh;
}


/* Loader */

.loader {
    width: 240px;
    margin: 3em auto 0;
    text-align: center;
    animation: fade-in 1.2s;
}


/* workbench */

workbench {
    overflow: hidden;
    animation: fade-in 1s;
}


/* Left Riddle Card */

.riddle-left-card {
    overflow: hidden;
}

.riddle-left-card > md-card-title {
    flex: 0 0 auto;
}

.riddle-left-card > md-tabs {
    flex: 1 1 auto;
}

.riddle-left-card > md-tabs > md-tabs-content-wrapper > md-tab-content {
    display: flex;
    flex: 1 1 auto;
}

.riddle-left-card > md-tabs > md-tabs-content-wrapper > md-tab-content > div {
    flex: 1 1 auto;
    display: flex;
}

.riddle-left-card > md-tabs > md-tabs-content-wrapper > md-tab-content > div > div {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
}


/* Right Riddle Card */

.riddle-right-card {
    overflow: hidden;
}

.riddle-right-card .members {
    padding: 0 16px;
}


/* RiddleList */

.riddle-list md-headline {
    align-items: baseline;
    font-size: 20px;
}


/* Editor */

.editor {
    padding: 0;
    overflow: hidden;
    align-items: stretch;
}

.editor > .CodeMirror {
    flex: 1 1 auto;
}


/* Console */

.console {
    font-family: 'Short Stack', cursive;
    overflow: auto;
    background-color: #004d00;
    color: white;
}

.console h1, .console h2, .console h3, .console h4, .console h5, .console h6 {
    color: skyblue;
}

.console a {
    color: gold;
}

.console > div.item {
    margin: 0 0.4em;
    padding: 0.4em 0 0.2em 0;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.console > div.item div.icon {
    width: 32px;
    margin: 0.2em 0;
    flex: 0 0 auto;
}

.console > div.item div.content {
    flex: 1 1 auto;
    overflow: visible;
}

.console div, .console p, .console pre {
    margin: 0.4em 0;
}

.console .center {
    text-align: center;
}

.console .info {
    color: lightsteelblue;
    font-style: italic;
}

.console .success {
    color: lime;
}

.console .warning {
    color: gold;
}

.console .error, .console .error h1, .console .error h2, .console .error h3, .console .error h4, .console .error h5, .console .error h6 {
    color: tomato;
}

.console .large {
    font-size: 140%;
}

.console .xlarge {
    font-size: 180%;
}

.console .code {
    font-family: Courier New, Courier, monospace;
}

.console .fade-in {
    opacity: 0;
    animation: fade-in 0.5s ease-out forwards;
}

@keyframes move-in {
    from {
        opacity: 0;
        transform: scale(1.5) translateY(1em);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.console .move-in {
    opacity: 0;
    animation: move-in 0.5s ease-in forwards;    
}


/* Console Marks */

.console .mark.ok, .console .mark.not-ok, .console .mark.star, .console .mark.no-star {
    position: relative;
    display: inline-block;
    margin: 0 0.3em;
}

@keyframes ok-anim {
    from {
        opacity: 0;
        transform: scale(4);
    }
    to {
        opacity: 1;
        transform: scale(2);
    }
}

.console .mark.ok, .console .mark.not-ok {
    opacity: 0;
    animation: ok-anim 0.25s ease-in forwards;
    margin: 0 0 0 1.5em;
}

@keyframes star-anim {
    from {
        opacity: 0;
        transform: scale(4) rotate(360deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
}

.console .mark.star, .console .mark.no-star {
    opacity: 0;
    font-size: 48px;
    animation: star-anim 0.5s ease-out forwards;
}

.console .mark.ok {
    color: lime;
}

.console .mark.not-ok {
    color: tomato;
}

.console .mark.star {
    color: gold;
}

.console .mark.no-star {
    color: gold;
}

.console .mark.ok:before, .console .mark.not-ok:before, .console .mark.star:before, .console .mark.no-star:before {
    font-family: FontAwesome;
    top: 0;
}

.console .mark.ok:before {
    content: "\f00c";
}

.console .mark.not-ok:before {
    content: "\f00d";
}

.console .mark.star:before {
    content: "\f005";
}

.console .mark.no-star:before {
    content: "\f006";
}

.console code, .console pre {
    background-color: inherit;
    border: none;
}

/* Layout Helpers */

.layout-row {
    display: flex;
    flex-direction: row;
}

.layout-column {
    display: flex;
    flex-direction: column;
}

.layout-no-shrink {
    flex-shrink: 0;
}

.layout-no-grow {
    flex-grow: 0;
}

.layout-no-resize {
    flex-shrink: 0;
    flex-grow: 0;
}

.layout-stretch {
    align-items: stretch;
}

.layout-baseline {
    align-items: baseline;
}

.scrolls {
    overflow: auto;
}

.no-scrolls {
    overflow: hidden;
}

.markdown >:first-child {
    margin-top: 0;
}

.markdown >:last-child {
    margin-bottom: 0;
}

.lined-top {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.lined-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.max-width-480 {
    max-width: 480px;
}

.max-width-640 {
    max-width: 640px;
}

.no-wrap {
    white-space: nowrap;
}

.member-info {
    padding: 0 0 0 16px;
    margin: 16px 0;
}

/**
 * markdown fix 
 */

pre {
    padding: 0.5em;
    background-color: #f6f6f6;
    border-top: 1px dotted #e0e0e0;
    border-bottom: 1px dotted #e0e0e0;
    border-radius: 4px;
}

pre code {
    padding: 0;
}

/**
 * Toolbar
 */

.md-toolbar-item {
    margin-right: 10px;
}

.md-toolbar-item .md-button, md-dialog-actions .md-button, md-card-actions .md-button {
    padding-left: 15px;
    padding-right: 15px;
}


/**
 * Transitions
 */

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}


/**
 * Code
 */

code {
    background: #F6F6F6;
    padding: 2px 5px;
    color: #4285F4;
}

.md-dialog-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px 10px;
}

.md-dialog-actions .md-button {
    margin-left: 10px;
}

table td {
    padding: 8px 12px;
}

.align-right {
    text-align: right;
}

.light {
    opacity: 0.75;
}

.lighter {
    opacity: 0.5;
}

.lightest {
    opacity: 0.25;
}

.glow {
    text-shadow: 0px 0px 16px goldenRod;
}

.separated {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.anim-delay-1 {
    animation-delay: 0.32s
}

.anim-delay-2 {
    animation-delay: 0.48s
}

.anim-delay-3 {
    animation-delay: 0.56s
}

.anim-delay-4 {
    animation-delay: 0.60s
}