<md-progress-linear ng-show="$ctrl.loading" md-mode="indeterminate"></md-progress-linear>

<md-list class="riddle-list">
    <md-list-item class="md-3-line" ng-repeat="riddle in $ctrl.riddleManager.riddleList" ng-click="$ctrl.startRiddle(riddle)">
        <div class="md-list-item-text" layout="column">
            <md-headline class="no-wrap" layout="row">
                <i class="layout-no-resize fa" ng-class="{'fa-square-o': riddle.score < riddle.minScoreToSolve, 'fa-check-square-o': riddle.score >= riddle.minScoreToSolve}"></i>&nbsp;
                <div flex style="min-width: 16em"><span class="lighter">Level {{riddle.level}}:</span>&nbsp;<span>{{riddle.title}}</span></div>
                &nbsp;
                <i class="layout-no-resize fa" ng-class="{'fa-star-o lightest': riddle.score <= 0, 'fa-star': riddle.score > 0}"></i>&nbsp;
                <i class="layout-no-resize fa" ng-class="{'fa-star-o lightest': riddle.score <= 1, 'fa-star': riddle.score > 1}"></i>&nbsp;
                <i class="layout-no-resize fa" ng-class="{'fa-star-o lightest': riddle.score <= 2, 'fa-star': riddle.score > 2}"></i>
            </md-headline>
            <p>{{riddle.shortDescription}}</p>
        </div>
    </md-list-item>
</md-list>