<!--Show progress while loading -->
<md-content class="md-padding" flex="50" ng-if="riddleCtrl.loading">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</md-content>
<!--Riddle Description-->
<md-content class="md-padding" flex="50">

    <h2>
        <i class="fa" ng-class="{'fa-square-o': riddleCtrl.riddle.score < riddleCtrl.riddle.minScoreToSolve, 'fa-check-square-o': riddleCtrl.riddle.score >= riddleCtrl.riddle.minScoreToSolve}"></i>
        &nbsp;
        {{riddleCtrl.riddle.title}}
        &nbsp;
        <i class="fa" ng-class="{'fa-star-o light': riddleCtrl.riddle.score <= 0, 'fa-star': riddleCtrl.riddle.score > 0}"></i>
        <i class="fa" ng-class="{'fa-star-o light': riddleCtrl.riddle.score <= 1, 'fa-star': riddleCtrl.riddle.score > 1}"></i>
        <i class="fa" ng-class="{'fa-star-o light': riddleCtrl.riddle.score <= 2, 'fa-star': riddleCtrl.riddle.score > 2}"></i>
    </h2>
    <md-divider></md-divider>

    <div btf-markdown="riddleCtrl.riddle.description"></div>
    <md-divider></md-divider>

    <h3>Goals</h3>

    <table>
        <tbody>
            <tr ng-repeat="goal in riddleCtrl.riddle.goals track by $index" ng-if="$index <= riddleCtrl.riddle.score">
                <td>
                    <i class="fa" ng-class="{'fa-square-o': riddleCtrl.riddle.score <= $index, 'fa-check-square-o': riddleCtrl.riddle.score > $index}"></i>
                </td>
                <td style="min-width: 5em; text-align: center;">
                    <i class="fa fa-star"></i>
                    <i class="fa" ng-class="{'fa-star-o light': $index <= 0, 'fa-star': $index > 0}"></i>
                    <i class="fa" ng-class="{'fa-star-o light': $index <= 1, 'fa-star': $index > 1}"></i>
                </td>
                <td>
                    <i ng-if="$index >= riddleCtrl.riddle.minScoreToSolve">Bonus Goal:</i>
                    {{goal}}
                </td>
            </tr>
        </tbody>
    </table>
    
    <p ng-if="riddleCtrl.riddle.minScoreToSolve == 2">
        You need at least two stars (<i class="fa fa-star"></i>&nbsp;<i class="fa fa-star"></i>&nbsp;<i class="fa fa-star-o light"></i>) in order to solve the riddle.
    </p>

    <p ng-if="riddleCtrl.riddle.minScoreToSolve == 3">
        You need all three stars (<i class="fa fa-star">&nbsp;</i><i class="fa fa-star"></i>&nbsp;<i class="fa fa-star"></i>) in order to solve the riddle.
    </p>

    <md-divider></md-divider>

    <h3>Function description</h3>

    <div btf-markdown="riddleCtrl.riddle.functionDescription"></div>
    <attribute-info attributes="riddleCtrl.riddle.functionData.params"></attribute-info>
</md-content>
<!--Editor-->
<md-content flex="50" layout="column">
    <div flex="">
        <textarea ng-model="riddleCtrl.riddle.functionData.code" ui-codemirror="riddleCtrl.editorOptions"></textarea>
    </div>

    <div class="md-dialog-actions" layout="row" layout-align="end">
        <md-button class="md-raised" ng-click="riddleCtrl.trash()">Trash</md-button>
        <md-button class="md-raised" ng-click="riddleCtrl.save()">Save</md-button>
        <md-button class="md-primary md-raised" ng-click="riddleCtrl.solve($event)">Solve</md-button>
    </div>
</md-content>



