<md-card ng-click="riddleCtrl.startRiddle(riddle)" class="riddle-card grow">
    <md-toolbar class="md-accent" ng-class="{'md-hue-1': !riddle.finished}">
        <div class="md-toolbar-tools" layout="row">
            <i class="fa"
               ng-class="{'fa-square-o': riddle.score < riddle.minScoreToSolve, 'fa-check-square-o': riddle.score >= riddle.minScoreToSolve}"></i>
            &nbsp;
            <span flex="" class="riddle-title">{{riddle.title}}</span>
            &nbsp;
            <i class="fa" ng-class="{'fa-star-o light': riddle.score <= 0, 'fa-star': riddle.score > 0}"></i>&nbsp;
            <i class="fa" ng-class="{'fa-star-o light': riddle.score <= 1, 'fa-star': riddle.score > 1}"></i>&nbsp;
            <i class="fa" ng-class="{'fa-star-o light': riddle.score <= 2, 'fa-star': riddle.score > 2}"></i>
        </div>
    </md-toolbar>
    <md-card-content>
        <p>{{riddle.shortDescription}}</p>
    </md-card-content>
</md-card>