<md-card ng-click="riddleCtrl.startRiddle(riddle)" class="riddle-card" ng-class="{'grow': riddle.unlocked}">
    <md-toolbar class="md-accent" ng-class="{'md-hue-1': !riddle.unlocked}">
        <div class="md-toolbar-tools" layout="row">
            <span flex="" class="riddle-title">{{riddle.level}}. {{riddle.title}}</span>
            <i class="fa"
               ng-class="{'fa-lock': !riddle.unlocked, 'fa-unlock': riddle.unlocked && !riddle.finished, 'fa-check-square': riddle.finished}"></i>
        </div>
    </md-toolbar>
    <md-card-content>
        <p>{{riddle.shortDescription}}</p>
    </md-card-content>
</md-card>