<!--Locked message-->
<md-content class="md-padding" flex="50" layout="column" layout-align="center center" layout-fill=""
            ng-if="!riddleCtrl.riddle.unlocked">
    <i class="fa fa-5x fa-frown-o"></i>

    <div>Unfortunately the riddle is not unlocked right now. Please complete the previous riddles.</div>
</md-content>
<!--Show progress while loading -->
<md-content class="md-padding" flex="50" ng-if="riddleCtrl.loading">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</md-content>
<!--Riddle Description-->
<md-content class="md-padding" flex="50" ng-if="riddleCtrl.riddle.unlocked">
    <h2>{{riddleCtrl.riddle.level}}. {{riddleCtrl.riddle.title}}</h2>
    <md-divider></md-divider>

    <div btf-markdown="riddleCtrl.riddle.description"></div>
    <md-divider></md-divider>

    <h3>Function description</h3>

    <div btf-markdown="riddleCtrl.riddle.functionDescription"></div>
    <attribute-info attributes="riddleCtrl.riddle.functionData.params"></attribute-info>
</md-content>
<!--Editor-->
<md-content flex="50" layout="column">
    <textarea flex="" ng-model="riddleCtrl.riddle.functionData.code" ui-codemirror="riddleCtrl.editorOptions"></textarea>

    <div class="md-actions" layout="row" layout-align="end">
        <md-button class="md-primary md-raised" ng-click="riddleCtrl.solve($event)">Solve</md-button>
    </div>
</md-content>



