<md-card ng-click="riddleCtrl.startRiddle(riddle)" class="riddle-card grow">
    <md-toolbar class="md-accent" ng-class="{'md-hue-1': !riddle.finished}">
        <div class="md-toolbar-tools" layout="row">
            <span flex="" class="riddle-title">{{riddle.title}}</span>
            <i class="fa"
               ng-class="{'fa-square-o': !riddle.finished, 'fa-check-square-o': riddle.finished}"></i>
        </div>
    </md-toolbar>
    <md-card-content>
        <p>{{riddle.shortDescription}}</p>
    </md-card-content>
</md-card>