<md-dialog aria-label="Riddles">
    <md-toolbar>
        <div class="md-toolbar-tools">Riddles</div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <md-progress-linear ng-show="ctrl.loading" md-mode="indeterminate"></md-progress-linear>
        <riddle-card riddle="riddle" ng-repeat="riddle in ctrl.riddles"></riddle-card>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="ctrl.closeDialog()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>
